In [1]:
print("Hello World!") #string

Hello World!

In [2]:
print(123) #integar

123

In [3]:
print(123,"Hello Ada Love") #both

123 Hello Ada Love

In [4]:
print(23.0) #float

23.0

In [6]:
type(23.3)

float

In [2]:
name = "Hamza Khan"

In [3]:
print(name)

Hamza Khan

In [6]:
id(name)

2586291606256

In [11]:
print(2586291606256)

2586291606256

In [13]:
no_1 = 32
no_2 = 2

In [14]:
no_1 + no_2

34

In [16]:
print("Hamza" , 123 , 32.0)

Hamza 123 32.0

In [ ]:
print("Hamza" , 123 , 32.0)