In [10]:
list1 = [0.5 * x for x in
range(0, 4)]

In [11]:
print(list1)

[0.0, 0.5, 1.0, 1.5]

In [9]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
names2[0] = 'Alice'
names3[1] = 'Bob'
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

1
2
12

In [40]:
list1 = [11, 2, 23]
list2 = [11, 2, 2]
z = (list1 == list2 is z)
print(z)

False

In [41]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]
print(names2[2][0])

c

In [42]:
a=[1,2,3]
b=a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
None

In [44]:
a=[14,52,7]
b=a.copy()
print(b)

[14, 52, 7]

In [45]:
a=[13,56,17]
a.append([87])
a.extend([45,67])
print(a)

[13, 56, 17, [87], 45, 67]

In [46]:
a=list((45,)*4)
print((45)*4)
print(a)

180
[45, 45, 45, 45]

In [57]:
word1="Apple"
word2="Apple"
list1=[1,2,3]
list2=[1,2,3]
print(word1 is word2)
print(list1 is list2)

True
False

In [63]:
id(word1)

2166869144048

In [64]:
id(word2)

2166869144048

In [65]:
id(list1)

2166868380232

In [66]:
id(list2)

2166868995976

In [67]:
t=32.00
[round((x-32)*5/9) for x in t]

TypeError: 'float' object is not iterable

In [70]:
for i in range(1, 101):
    if int(i*0.5)==i*0.5:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [71]:
[(2**x) for x in range(0, 13)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [75]:
[j for j in range(2,8)]

[2, 3, 4, 5, 6, 7]

In [13]:
data = "From hamza.khansahab@gmail.com Sat Sept 7 10:03:33 2019"

In [27]:
#finding location
f1 = data.find("@")
f2 = data.find(" ", f1)
print(f1)
print(f2)

20
30

In [34]:
#slicing
f3 = data[f1 + 1: f2]
print(f3)

gmail.com